<div class="panel-group">
    <div class="panel-info-body">
        <div class="left-info-panel">My name is Joseph Flynn. I graduated from the University of Arizona in May of 2016. Shortly after graduating, I was picked up
        by Syntel, an IT consulting company. Their primary customer for consultants is American Express, whom I have had the opportunity to be a part of a few different
        projects on over the past two years including doing front end development using mostly JQuery, to using Java and creating endpoints in a Spring Boot API.
        Now I am seeking a position in Tucson, AZ for the next step in my career. I love doing Java development and creating web applications such as this one, but I'm
        also open to learning new technologies and expanding my knowledge pool. My biggest weakness would have to be communicating in a spotlight. I tend to lose my
        train of thought, dwelling on what I say. But given a comfortable environment with friendly personalities, I can break the ice and show that not only can I
        code like a boss, but I also can become an invaluable team player.</div>
        <div class="profile-pic"><img src="images/personal_picture.JPG" alt="Personal profile picture" class="personalPic"></div>
    </div>
</div>